<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAHARAJA Cricket Club - QR Code</title>
    <link rel="shortcut icon" href="./src/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/qr.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="nav">
        <img class="logo-img" src="/src/img/logo.png" alt="Logo">
        <h4><a href="/index">HOME</a></h4>
        <h4><a href="/memb">MEMBERSHIP</a></h4>
        <h4><a href="/regist">REGISTER NOW</a></h4>
    </div>

    <div class="container">
        <h1>Welcome to the MAHARAJA Cricket Club!</h1>
        <p>Your QR code is ready</p>

        <div class="qr-code">
            <img src="{{qrCodeImage}}" alt="QR Code" id="qrImage">
        </div>

        <!-- Download QR Code button -->
        <a href="{{qrCodeImage}}" download="membership_qr_code.png">
            <button class="download-btn">Download QR Code</button>
        </a>
    </div>

</body>

</html>